<div>
    <h1>Wishlist</h1>
        <a href="/played">To Played List</a>
    <p>
        {{wishlist}}
    {{#each wishlist}}
        {{#each game}}
            <div>
                {{this.name}}
            </div>
            <div>
                {{this.genre}}
            </div>
            <div>
                {{this.gameType}}
            </div>
            <div>
                {{this.gameType}}
            </div>
            <div>
                {{this.players}}
            </div>

            <a href="/wishlist/{{game._id}}/edit">Edit Game</a>
            <a href="/wishlist/{{game._id}}/delete">Delete Game</a>
            <div>
                {{this.theHype}}
            </div>
        {{/each}}
    {{/each}}
    </p>
</div>