<body>
    <h1>Played Games</h1>
        <a href="/wishlist">To Wishlist</a>
    <p>
        {{#each playedGame.games}}
            <h2>
                {{this.name}}
            </h2>
            <img src={{this.picture}} alt=""></img>
            <div>
                Times Played: {{this.timesPlayed}}
            </div>
            <div>
                Rating: {{this.rating}}
            </div>
            <div>
                Genre: {{this.genre}}
            </div>
            <div>
                Game Type: {{this.gameType}}
            </div>
            <div>
                Players: {{this.players}}
            </div>
            <div>
                Play time: {{this.averagePlayTime}} Minutes
            </div>
            <a href="/played/{{../playedGame._id}}/games/{{this._id}}/edit">Edit Game</a>
            <a href="/played/{{../playedGame._id}}/games/{{this._id}}/delete">Delete Game</a>
            <div>
                Thoughts: {{this.thoughts}}
            </div>
            <br>
        {{/each}}
    <a href="/played/{{playedGame._id}}/new">New Game</a>
    </p>
</body>