<div>
    <h1>Played Games</h1>
        <a href="/wishlist">To Wishlist</a>
    <p>
        {{played}}400
    {{#each played}}
        <div>
            {{this.name}}
        </div>
        <div>
            {{played.game.rating}}
        </div>
        <div>
            {{this.genre}}
        </div>
        <div>
            {{this.gameType}}
        </div>
        <div>
            {{this.players}}
        </div>
        <div>
            {{this.timesPlayed}}
        </div>
        <div>
            {{this.averagePlayTime}}
        </div>
        <a href="/played/{{game._id}}/edit">Edit Game</a>
        <a href="/played/{{game._id}}/delete">Delete Game</a>
    {{/each}}
    </p>
</div>